
.footer {
  display: none;
}
@media screen and (min-width: 700px) {
  .footer {
    display: block;
  }
}



.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

.footer a {
  color: white;
}
